<div class="row">
  <div class="navbar-fixed nav-extended">
  <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">
          <img src="../assets/logo.png" class="img-with-margin" />
        </a>
        <a href="#" materialize="sideNav" [materializeParams]="[{edge: 'left'}]"
        data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li ><a href="#">MELHORES PROJETOS</a></li>
            <li><a href="#">DEPOIMENTO</a></li>
            <li><a href="#">FALE CONOSCO</a></li>
            <li><a href="#"><i class="material-icons">help_outline</i></a></li>
            <li><a href="#"><i class="material-icons">input</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li ><a href="#">MELHORES PROJETOS</a></li>
            <li><a href="#">DEPOIMENTO</a></li>
            <li><a href="#">FALE CONOSCO</a></li>
            <li><a href="#"><i class="material-icons">help_outline</i></a></li>
            <li><a href="#"><i class="material-icons">input</i></a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>