<div id="login" materialize="modal" class="modal">
    <div class="row">
    <div class="modal-content">
      <img src="../assets/logo.png" class="img-with-margin center" />
      <h4 class="center">Entrar:</h4>
      <form action="" method="POST">
        <div class="input-field">
          <i class="material-icons prefix">email</i>
          <input id="icon_prefix" type="text" class="validate" required>
          <label for="icon_prefix">Email</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">vpn_key</i>
          <input id="password" type="password" class="validate" required>
          <label for="password">Password</label>
        </div>
        <button class="btn waves-effect waves-light right" type="submit" name="action">Entrar
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>

<br>

    <div class="modal-content">
      <form action="" method="POST">
        <a href="#cadusuario">
        <button class="btn waves-effect waves-light right" type="submit" name="action">Novo Usuário
          <i class="material-icons right">send</i>
        </button>
        </a>
      </form>
  </div>
  </div>
</div>
<app-cadusuario></app-cadusuario>
