<div class="fixed-action-btn horizontal right">
    <a class="btn-floating btn-large red hoverable">
      <i class="large material-icons hoverable">mode_edit</i>
    </a>
  <ul>
    <li><a class="btn-floating red hoverable tooltipped"
      data-position="bottom"
      data-delay="50"
      data-tooltip="Remover">
      <i class="material-icons">delete_forever</i>
    </a></li>

    <li><a class="btn-floating yellow darken-1 hoverable tooltipped"
      data-position="bottom"
      data-delay="50"
      data-tooltip="Investir">
      <i class="material-icons">attach_money</i>
    </a></li>

    <li><a class="btn-floating green hoverable tooltipped"
      data-position="bottom"
      data-delay="50"
      data-tooltip="Publicar">
      <i class="material-icons">publish</i>
    </a></li>

    <li><a class="btn-floating blue hoverable tooltipped"
      data-position="bottom"
      data-delay="50"
      data-tooltip="Atualizar">
      <i class="material-icons">attach_file</i>
    </a></li>
  </ul>
</div>