<div class="row">
  <div class="navbar-fixed nav-extended">
  <nav>
      <div class="nav-wrapper">

      	<!-- Ativo somente em tela pequena-->
			<a href="#" data-activates="slide-out" class="button-collapse hide-on-large-only"><i class="material-icons">menu</i></a>

      
        <a href="#" class="brand-logo">
          <img src="../assets/logo.png" class="img-with-margin" />
        </a>
        <a href="#" materialize="sideNav" [materializeParams]="[{edge: 'left'}]"
        data-activates="mobile-demo" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><form>
				        <div class="input-field">
				        	<input id="search" type="search" required autocomplete="off" spellcheck="false">
				        	<label for="search"><i class="material-icons grey-text text-darken-1">search</i></label>
				        </div>
			    </form></li>
           	<li><i class="material-icons grey-text text-darken-1 waves-effect waves-grey">notifications</i></li>
				<li><i class="material-icons grey-text text-darken-1 waves-effect waves-grey">settings</i></li>
				<li><a href="#!" class="grey-text text-darken-1 waves-effect waves-grey"><i class="material-icons">exit_to_app</i>Logout</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><form>
				        <div class="input-field">
				        	<input id="search" type="search" required autocomplete="off" spellcheck="false">
				        	<label for="search"><i class="material-icons grey-text text-darken-1">search</i></label>
				        </div>
			    </form></li>
           	<li><i class="material-icons grey-text text-darken-1 waves-effect waves-grey">notifications</i></li>
				<li><i class="material-icons grey-text text-darken-1 waves-effect waves-grey">settings</i></li>
				<li><a href="#!" class="grey-text text-darken-1 waves-effect waves-grey"><i class="material-icons">exit_to_app</i>Sair</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>



<!-- Sidenav -->
<header>
<ul id="slide-out" class="side-nav fixed midnight">
  <li><a href="/dashboard" class="logomarca midnight white-text"><img src="../assets/logo.png" class="img-with-margin"></a></li>
	<li><a href="#!" class="midnight-text"><i class="material-icons midnight-text">dashboard</i>Painel</a></li>
	<li><a href="#!" class="midnight-text"><i class="material-icons midnight-text">cloud</i>Projetos</a></li>
	<li><a href="#!" class="midnight-text"><i class="material-icons midnight-text">trending_up</i>Investimentos</a></li>
	<li><a href="#!" class="midnight-text"><i class="material-icons midnight-text">view_quilt</i>Simulações</a></li>
</ul>  
</header>

<main>
 <div class="row main">
    <h3 materialize="scrollSpy" [materializeParams]="[{scrollOffset: 800}]" class="blue-text darken-1-text section scrollspy" id="projetos">Meus Projetos:</h3>
    <app-projeto></app-projeto>
    <app-projeto></app-projeto>
    <app-projeto></app-projeto>
    <app-projeto></app-projeto>
  </div>
  <div class="row main">
    <h3 materialize="scrollSpy" [materializeParams]="[{scrollOffset: 800}]" class="blue-text darken-1-text section scrollspy" id="projetos">Meus Investimentos:</h3>
    <app-projeto></app-projeto>
    <app-projeto></app-projeto>
    <app-projeto></app-projeto>
    <app-projeto></app-projeto>
  </div>
</main>
      

      
<router-outlet></router-outlet>