body {
  /*
  display: flex;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  */
  background-color: #EFEFEF;
}

header, main, footer { /* Padding no conteúdo para não sobressair o Sidenav */
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
	header, main, footer {
    	padding-left: 0;
  }
}

/*========================================
               Cor
=========================================*/

.midnight {
  background-color: #333638 !important;
}

.midnight-text {
  color: #F0F0F0 !important;
}

.waves-effect.waves-grey .waves-ripple {
	background-color: rgba(0, 0, 0, 0.07);
}
/*========================================
               Navbar 
=========================================*/

@media only screen and (min-width: 601px) {
  nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 60px;
    line-height: 60px;
  }
  .navbar-fixed {
    height: 60px;
  }
}

nav {
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03),0 2px 6px 0 rgba(0,0,0,0.05);
}

nav ul,nav li {
	height: 100%;
}

.dropdown-content {
	height: auto;
	margin-top: 15px;
}

.dropdown-content {
	min-width: 250px;
}
.dropdown-content li {
	min-height: 0;
	min-width: auto;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 14px;
  color: #757575;
  line-height: 22px;
  padding: 5px 16px;
}

.dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0);
}

.dropdown-content:after {
	position: absolute;
	left: 50%;
	top: -10px;
	width: 0;
	height: 0;
	content: '';
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #000000;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

nav ul {
	margin-right: 10px;
}

nav i.material-icons {
	font-size: 1.6rem;
	cursor: pointer;
	position: relative;
	padding: 0 10px;
}

nav input[type=search] {
	width: 0 !important;
	-webkit-transition: width 0.4s;
	transition: width 0.4s;
}

nav input[type=search]:focus {
    width: 200px !important;
}

/*========================================
               SideNav 
=========================================*/

@media only screen and (min-width : 993px) { 
	ul.side-nav { /* Define a animação do Sidenav somente em telas grandes */
		-webkit-animation-name: slideRight;
		animation-name: slideRight;
	  -webkit-animation-iteration-count: 1;
		animation-iteration-count: 1;
	  -webkit-animation-duration: 0.8s;
		animation-duration: 0.8s;
	}
}

.side-nav a {
  font-weight: normal !important;
  font-size: 18px;
}

.side-nav i,.side-nav a {
  height: 42px;
  line-height: 42px;
}

.side-nav i:hover {
  color:black !important;
}

.side-nav li:hover {
  background-color: rgba(0, 0, 0, .1);
  color: white !important;
}

a.logomarca {
	height: 120px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-240px);
		transform: translateX(-240px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes slideRight {
	0% {
		-webkit-transform: translateX(-240px);
		transform: translateX(-240px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}


//logomarca

.img-with-margin {
    padding: 1em;
}

//projeto
.card-title {
  color: #fff;
  position: absolute;
  text-shadow: 2px;
  bottom: 0;
  left: 0;
  padding: 20px;
  font-size: 32px;
  text-shadow: 2px 2px 4px #000000;
}
.card-action a{
  margin-left: 5px;
}