.logo-fintech-img{
    margin-top: 40px;
    margin-bottom: -40px;
}

.right-side-menu{
    margin-top: 10px;
    margin-bottom: -16px;
    padding-right: 15px;
    padding-top: 4px;
    padding-left: 150px;
    background: rgba(43, 165, 227,0); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, rgba(43, 165, 227,1), rgba(43, 165, 227,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, rgba(43, 165, 227,1), rgba(43, 165, 227,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, rgba(43, 165, 227,1), rgba(43, 165, 227,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, rgba(43, 165, 227,1), rgba(43, 165, 227,0)); /* Standard syntax */
}

.img-with-margin{
    margin-right: 15px;
}
li.tab a{
    color: black;
    font-weight: 500;
}
li.tab a:hover{
    color: black;
    font-weight: bold;
}