<nav class="nav-extended navbar-fixed  light-blue darken-2 ">
    <div class="nav-wrapper" >
        <img src="../assets/logo.png" class="logo-fintech-img"/>
        <br>
        <div class="right right-side-menu">
            <li>            </li>
        </div>
        <ul class="tabs light-green tabs-transparent">
            <li class="tab black-text"><a href="#">MELHORES PROJETOS</a></li>
            <li class="tab black-text"><a href="#">DEPOIMENTO</a></li>
            <li class="tab black-text"><a href="#">FALE CONOSCO</a></li>
        </ul>
    </div>
</nav>
