@import "../node_modules/materialize-css/sass/components/color";
$primary-color: color("blue", "accent-2");
$secondary-color: color("blue", "accent-2");
$roboto-font-path: "../node_modules/materialize-css/fonts/roboto/";


@import "../node_modules/materialize-css/sass/materialize";

#sidenav-overlay {
    z-index: 996;
}

.fixed-action-btn {
    z-index: 666;
}

body {
    background-color: color("grey", "lighten-4");
}