<div class="col s12 m10 l8">
	<div class="card medium">
		<div class="card-content">
			<h4 class="center">Novo Projeto</h4>
			<form action="" method="POST">
				<div class="input-field s9 m8 l7">
					<i class="material-icons">assessment</i>
					<input type="text" class="validate" required>
					<label for="icon_prefix">Nome</label>
			    <p class="col s3 m2 l1">
                  <input type="checkbox" id="test5" />
                  <label for="test5">Sociedade</label>
                </p>
				</div>
                
                <div class="input-field">
                  <i class="material-icons prefix">mode_edit</i>
                  <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                  <label for="icon_prefix2">Descrição</label>
                </div>

                <div class="input-field col s12 m5 l4">
                    <select>
                      <option value="" disabled selected>Selecione sua opção</option>
                      <option value="1">Acadêmico</option>
                      <option value="2">Transportes</option>
                      <option value="3">Turismo</option>
                    </select>
                    <label>Setor de Atuação:</label>
                </div>
                
                <div class="file-field input-field col s12 m5 l4">
                  <div class="btn">
                    <span>Imagem do Projeto</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
                
                <div class="file-field input-field col s12 m5 l4">
                  <div class="btn">
                    <span>Vídeo de Apresentação</span>
                    <input type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                </div>
                
			</form>
		</div>
		<div class="card-action">
       	     <a href="#cadusuario">
		        <button class="btn waves-effect waves-light col s5 m5 l5 left" type="submit" name="action">Salvar<i class="material-icons right">send</i></button>
		    </a>
	        <button class="btn waves-effect waves-light col s5 m5 l5 right" type="submit" name="action">Salvar e Publicar<i class="material-icons right">send</i></button>
		 </div>
	</div>
</div>