<div class="col s12 m4 l3">
  <div class="card medium hoverable">
    <app-projeto-fab></app-projeto-fab>
    <div class="card-image">
      <img src ="http://lorempixel.com/output/animals-q-c-334-250-8.jpg">
      <span class="card-title">
         <p class="left"> {{ nome }} </p>
      </span>
    </div>
    <div class="card-content">
      <p class="truncate"> {{ resumo }} </p>
    </div>
    <div class="card-action">
        <a class="btn-floating btn waves-effect waves-light red hoverable left">
          <i class="material-icons">favorite_border</i>
        </a>
        <a class="btn-floating btn waves-effect waves-light blue hoverable right">
          <i class="material-icons">share</i>
        </a>
        <a class="btn-floating btn waves-effect waves-light grey hoverable right">
          <i class="material-icons">textsms</i>
        </a>
    </div>
   </div>
</div>
