<footer class="page-footer   light-blue darken-2">
    <div class="white-text dados-rodape">
        <a href="#">PARCERIAS </a> <span id="links-white-divisor">|</span> <a href="#">TRABALHE CONOSCO </a><br><br>
        <a href="#">CONTATE-NOS</a><br>
        <div id="contact-green-white-divisor"></div>
        <span class="endereco">Rua Clarimundo de Melo, s/ n°</span><br>
        <span class="endereco">Quintino - Rio de Janeiro - RJ</span>
    </div>
    <div class="redes-sociais">
        <a href="#"><img src="app/RodapeComponent/rodape_imgs/socialnetwork_mock.png"></a>
    </div>
    <div class="footer-copyright   light-blue darken-4">
        <div class="container">
            Copyright © Turm PSW Noite - 2016 - Quase todos os direitos reservados.
        </div>
    </div>
</footer>